@page
@model ExamModel
@{
    ViewData["Title"] = "Examen";
}

<div class="container mt-5">
    @if (Model.IsOnPost == false)
    {
        <div class="row">
            <div class="col-lg">
                <div class="row h-100 mb-5 align-items-end">
                    <div class="col-lg-12 text-center" style="font-size: 1.25rem;">
                        Tomar&aacute;s el examen seleccionado en la siguiente lista.
                    </div>
                </div>
                <div class="row mb-5 align-items-start">
                    <div class="col-lg-4 mx-auto">
                        <select class="custom-select">
                            <option selected>Seleccionar examen</option>
                            <option value="1">Examen 1</option>
                            <option value="2">Examen 2</option>
                            <option value="3">Examen 3</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 mx-auto text-center">
                        <form method="post">
                            <input type="submit" class="btn mybtn btn-lg" value="Realizar" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row mb-5">
            <div class="col-lg-6 offset-lg-3">
                <p class="lighter-font" style="font-size:1rem">Clasifica correctamente la chatarra que aparece en la imagen:</p>
                <img style="width:100%" src="https://lh3.googleusercontent.com/Dvu_OgKn5Bok3oqU7PRsx9vqiySjYaOenokVrd0xYHh1XRvqca-a_5Cv0yfwYuNe3zYHVQXGWrX29dROO6QdM6xs9icJeiYn3AWq5WuVfyV3JirF1WUi36fuZ48ra3RJ4lJnzaWjfw=w2400" class="mb-3" />
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta1" id="pregunta1_opcion1">
                    <label class="form-check-label" for="pregunta1_opcion1">
                        Rebaba de acero
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta1" id="pregunta1_opcion2">
                    <label class="form-check-label" for="pregunta1_opcion2">
                        Chatarra nacional primera
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta1" id="pregunta1_opcion3">
                    <label class="form-check-label" for="pregunta1_opcion3">
                        Placa y estructura nacional
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta1" id="pregunta1_opcion4">
                    <label class="form-check-label" for="pregunta1_opcion4">
                        Mixto cizallado
                    </label>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-6 offset-lg-3">
                <p class="lighter-font" style="font-size:1rem">Clasifica correctamente la chatarra que aparece en la imagen:</p>
                <img style="width:100%" src="https://lh3.googleusercontent.com/tSzZ23aFyfzXcrgeeU525mtanhVFex4neT098ovMuylIeYsP7ixTqpuIekVfbawO66EoRZbD21suml44jdVu7Rv5QPsfl0dWGlgY60WcbFd5o1RSlH6C2aPNnzyp75_Qxw6DYaTCjg=w2400" class="mb-3" />
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta2" id="pregunta2_opcion1">
                    <label class="form-check-label" for="pregunta2_opcion1">
                        Rebaba de acero
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta2" id="pregunta2_opcion2">
                    <label class="form-check-label" for="pregunta1_opcion2">
                        Chatarra nacional primera
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta2" id="pregunta2_opcion3">
                    <label class="form-check-label" for="pregunta1_opcion3">
                        Placa y estructura nacional
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta2" id="pregunta2_opcion4">
                    <label class="form-check-label" for="pregunta1_opcion4">
                        Mixto cizallado
                    </label>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-6 offset-lg-3">
                <p class="lighter-font" style="font-size:1rem">Clasifica correctamente la chatarra que aparece en la imagen:</p>
                <img style="width:100%" src="https://lh3.googleusercontent.com/l_mrOsxo-oMTb8bd5uZk9uPRkg4MNUzBqBIuui5iiKk1NeLx2kH06fSF-FzVjbthjFJi5qc44j-YkrCixt3jXneJ-jPvcYdKY-n6lz1uWD-NfrZnSm9PhuBOlYN5-zuWvoXPbDmhnQ=w2400" class="mb-3" />
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta3" id="pregunta3_opcion1">
                    <label class="form-check-label" for="pregunta1_opcion1">
                        Rebaba de acero
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta3" id="pregunta3_opcion2">
                    <label class="form-check-label" for="pregunta1_opcion2">
                        Chatarra nacional primera
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta3" id="pregunta3_opcion3">
                    <label class="form-check-label" for="pregunta1_opcion3">
                        Placa y estructura nacional
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta3" id="pregunta3_opcion4">
                    <label class="form-check-label" for="pregunta1_opcion4">
                        Mixto cizallado
                    </label>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
                <form method="get">
                    <input type="submit" class="btn mybtn btn-lg" value="Enviar" />
                </form>
            </div>
        </div>

    }
</div>