@page
@model IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- MY STYLES -->
    <link rel="stylesheet" href="~/css/login.css">
    <title>Asistente de Entrenamiento de Inspector</title>
</head>

<body>
    <video src="~/videos/el-alma-de-me-xico-loop.mp4" loop muted autoplay id="background-video"></video>
    <div class="row align-items-center vh-100 justify-content-center">
        <div class="col-md-4">
            <div class="card login-form">
                <img src="~/img/logo.png" class="card-img-top mx-auto my-3" alt="Logo Ternium" id="logo">
                <div class="card-body">
                    <form action="index.html" method="">
                        <div class="col-md-10 mt-2 mb-4 mx-auto">
                            <input type="text" name="username" placeholder="USUARIO" class="form-control">
                        </div>
                        <div class="col-md-10 mb-4 mx-auto">
                            <input type="password" name="password" placeholder="CONTRASEÑA" class="form-control">
                        </div>
                        <div class="d-grid gap-2 col-6 mb-2 mx-auto">
                            <button class="btn mybtn" asp-area="" asp-page="/Profile">INICIAR SESION</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>