@page
@model PlayModel
@{
    ViewData["Title"] = "Jugar";
}

<style>
    div#gameContainer {
        background: transparent !important;
    }

        div#gameContainer canvas {
        }
            div#gameContainer canvas[data-pixel-art="true"] {
                image-rendering: optimizeSpeed;
                image-rendering: -moz-crisp-edges;
                image-rendering: pixelated;
                -ms-interpolation-mode: nearest-neighbor;
            }
</style>

<div id="gameContainer" class="container" style="width:100%">
    <canvas id="unity-canvas" style="width:100%" data-pixel-art=""></canvas>
    <script src="~/Build/Builds.loader.js"></script>
    <script>
            createUnityInstance(document.querySelector("#unity-canvas"), {
                dataUrl: "Build/Builds.data",
                frameworkUrl: "Build/Builds.framework.js",
                codeUrl: "Build/Builds.wasm",
                streamingAssetsUrl: "StreamingAssets",
                companyName: "DefaultCompany",
                productName: "Proyecto Final",
                productVersion: "1.0",
            }).then(function (instance) {
                var canvas = instance.Module.canvas;
                var container = canvas.parentElement;
            });
    </script>
</div>