@page
@model PlayModel
@{ ViewData["Title"] = "Jugar"; }

<style>
    canvas {
        padding: 0 0 0 0;
        margin: 0 auto 0 auto !important;
    }

    div#gameContainer {
        background-color: black !important;
        position: absolute;
        display: flex;
        z-index: -1;
    }

        div#gameContainer canvas[data-pixel-art="true"] {
            image-rendering: optimizeSpeed;
            image-rendering: -moz-crisp-edges;
            image-rendering: pixelated;
            -ms-interpolation-mode: nearest-neighbor;
        }
</style>


<div id="gameContainer">
    <canvas id="unity-canvas" data-pixel-art="true"></canvas>
    <script src="~/Build/Build_Semana9.loader.js"></script>
    <script>
        createUnityInstance(document.querySelector("#unity-canvas"), {
            dataUrl: "Build/Build_Semana9.data",
            frameworkUrl: "Build/Build_Semana9.framework.js",
            codeUrl: "Build/Build_Semana9.wasm",
            streamingAssetsUrl: "StreamingAssets",
            companyName: "DefaultCompany",
            productName: "Proyecto Final",
            productVersion: "1.0",
        }).then(function (instance) {
            // INICIA CÓDIGO PARA LA RESPONSIVIDAD
            var canvas = instance.Module.canvas;
            var my_container = canvas.parentElement;
            function onResize() {
                // Ajuste del contenedor padre
                var top_h = document.getElementsByTagName("nav")[0].clientHeight;
                var w = document.documentElement.clientWidth;
                var h = document.documentElement.clientHeight;

                my_container.style.width = w + "px";
                my_container.style.height = (h - top_h) + "px";
                my_container.style.top = top_h + "px";
                my_container.style.left = 0 + "px";

                console.log(w);
                console.log(h);

                // Ajuste del Canvas de Unity
                var scale_ratio = 960 / 540;
                if (h - top_h > w / scale_ratio) {
                    console.log("Caso A");
                    canvas.style.width = w + "px";
                    canvas.style.height = Math.round(w / scale_ratio) + "px";
                }
                else {
                    console.log("Caso B");
                    canvas.style.height = h - top_h + "px";
                    canvas.style.width = Math.round((h - top_h) * scale_ratio) + "px";
                }

                console.log(canvas.style.width);
                console.log(canvas.style.height);

                // TERMINA CÓDIGO PERSONALIZADO PARA RESPONSIVIDAD
            }

            var scaleToFit;
            try {
                scaleToFit = !!JSON.parse("true");
            } catch (e) {
                scaleToFit = true;
            }
            window.addEventListener('resize', onResize);
            onResize();
        });
    </script>
</div>