@font-face {
    font-family: "Ternium Font Light";
    src: url(../font/TradeGothicLTStd.otf) format('opentype');
}

@font-face {
    font-family: "Ternium Font";
    src: url(../font/TradeGothicLTStd-BdCn20.otf) format('opentype');
}

* {
    font-family: 'Ternium Font'; 
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#background-video {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 120%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.login-form {
    border: none;
    background: rgba(255,103,0,0.75);
    border-radius: 10px;
}

.title {
    text-align: center;
    color: white;
}

.mybtn {
    color: black;
    background-color: white;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.mybtn:hover {
    background-color: rgb(102, 102, 102);
    color: white;
}

#logo {
    background-color: white;
    width: 40%;
}

input:active, input:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 131, 0, 0.5) !important;
    outline: 0px !important;
    border-color: transparent !important;
}

.alert-custom {
    background: rgba(255, 131, 0, 0.75);
    color: white;
}

button:active, button:focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 102, 102, 0.5) !important;
    outline: 0px !important;
    border-color: transparent !important;
}