/*a.my-active {
    background-color: rgb(255, 131, 0);
    border-radius: 30px;
    color: white !important;
}

.border-bottom {
  border-bottom: 50px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


#logo {
    background-color: white;
}


a.nav-link:hover {
    background-color: white;
    color: rgb(255, 131, 0) !important;
}*/
