<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Asistente de Entrenamiento de Inspector</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Profile"><img src="~/img/logo.png" alt="Logo Ternium" style="width: 150px;" id="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ms-5 me-5">
                            <a id="profile" class="nav-link px-5" asp-area="" asp-page="/Profile">Perfil</a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link px-5 active " asp-area="" asp-page="/Play">Jugar</a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link px-5 active" asp-area="" asp-page="/Leaderboard">Leaderboard</a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link px-5 active" asp-area="" asp-page="/Leaderboard">@Context.Request.Path</a>
                        </li>
                        <li class="nav-item ml-auto">
                            <a class="nav-link" asp-area="" asp-page="/Index"><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - reto - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
